<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="seleaug19gft"/>
<listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
<listEntry value="C:\Users\training_h2a.06.15\Desktop\Selenium workspace\seleaug19gft\demotestng.xml"/>
</listAttribute>
<intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
